﻿@model WSBangHang_4813.Models.Category
<head>
    <link href="~/css/add.css" rel="stylesheet" />
</head>
<h2>Add Category</h2>

<form method="post" action="@Url.Action("Add", "Category")">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>
