﻿@model WSBangHang_4813.Models.Category
<
<head>
    <link href="~/css/addcte.css" rel="stylesheet" />
</head>

<h2>Xác nhận xóa danh mục</h2>

<p>Bạn có chắc chắn muốn xóa danh mục này không?</p>

<form method="post" action="@Url.Action("DeleteConfirmed", "Category", new { id = Model.Id })">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label for="name">Tên danh mục:</label>
        <input type="text" id="name" name="Name" value="@Model.Name" class="form-control" readonly />
    </div>
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary">Back</a>
</form>
