﻿/* Style for the form */
form {
    background-color: #efefef;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
}

/* Style for the form group */
.form-group {
    font-size: 19px;
    color:#424242;
    margin-bottom: 15px;
}

    /* Style for the labels */
    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    /* Style for the inputs and textarea */
    .form-group input,
    .form-group textarea,
    .form-group select {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 10px;
    }
.form-control {
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
}

    .form-control:focus {
        box-shadow: 2px 2px 2px #f9f9f9, -2px -2px 2px #00000026;
    }


/* Style for the validation messages */
.text-danger {
    color: #dc3545;
}

/* Style for the submit button */
button[type="submit"] {
    margin-top: 10px;
    background-color: #efefef;
    color: #424242;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
}

    button[type="submit"]:hover {
        color: #424242;
        background-color: #efefef;
        box-shadow: 2px 2px 2px #f9f9f9, -2px -2px 2px #00000026;
    }

h2 {
    background-color: #efefef;
    color: #424242;
    padding: 10px;
    text-align: center;
    width: 40%;
    border-radius: 10px;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
    margin-bottom: 20px;
}

.btn {
    outline: none;
    margin: 10px;
    background-color: #efefef;
    color: #424242;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
}

    .btn:hover {
        outline: none;
        color: #424242;
        background-color: #efefef;
        box-shadow: 2px 2px 2px #f9f9f9, -2px -2px 2px #00000026;
    }