﻿.button-group {
    margin-top: auto;
    margin: 10px;
    margin-right: 10px;
}

.container {
    color: #424242;
}

h2 {
    background-color: #efefef;
    color: #424242;
    padding: 10px;
    text-align: center;
    width: 40%;
    border-radius: 10px;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
    margin-bottom: 20px;
}



.btn-primary {
    margin-top: 8px;
    font-size: 20px;
    color: #424242;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 12px;
    padding: 8px 20px 8px 20px;
    background-color: #efefef;
    border: none;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
}

    .btn-primary:hover {
        box-shadow: 2px 2px 3px #f9f9f9, -2px -2px 2px #00000026;
        background-color: #efefef;
        color: #424242;
    }


.btn-danger {
    margin-top: 8px;
    font-size: 20px;
    color: #424242;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 12px;
    padding: 8px 20px 8px 20px;
    background-color: #efefef;
    border: none;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
}

    .btn-danger:hover {
        box-shadow: 2px 2px 3px #f9f9f9, -2px -2px 2px #00000026;
        background-color: #efefef;
        color: #424242;
    }


    .back {
        margin-top: 25px;
    }


