html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: #424242;
    align-items: center;
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

.navbar-brand {
    font-size: 20px;
    margin-right: 30px;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0px 5px #00000026, 0px 0px 15px #00000026;
}

header {
    color: white;
    padding: 10px;
}

nav {
    font-weight: bold;
    font-size: 20px;
    color: #424242;
    border-radius: 10px;
    background-color: #efefef;
    padding: 20px;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
}

main {
    padding: 20px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.nav-link{
    background-color: #efefef;
    border: none;
    border-radius: 10px;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
    margin: 5px 20px 10px;
}

    .nav-link:hover {
        box-shadow: 2px 2px 2px #f9f9f9, -2px -2px 2px #00000026;
    }



