﻿@model WSBangHang_4813.Models.Product
<head>
    <link href="~/css/display.css" rel="stylesheet" />
</head>

<h2>@Model.Name</h2>
<div>
    <div class="container" style=" padding: 10px; border-radius: 10px;   background-color: #efefef; box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;">
        <h3>Price: @Model.Price</h3>
        <p>@Model.Description</p>
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" alt="Product Image" style="max-width:200px;" />
        }
        @if (User.IsInRole("Admin"))
        {
        <div class="button-group">
            <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        </div>            
        }
    </div>
</div>
<div class="back">
    <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary">Back</a>
</div>
